{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<div class="container my-5 py-5">
    <form action="/" method="post"> {% csrf_token %}
        <div class="mb-3">
            <label for="slug" class="form-label">Slug</label>
            <input type="number" class="form-control" id="slug" name="slug" placeholder="Title for Task">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title for Task">
        </div>
        <div class="mb-3">
            <label for="sub_title" class="form-label">Sub Title</label>
            <input type="text" class="form-control" id="sub_title" name="sub_title" placeholder="Sub Title for Task">
        </div>
        <button type="submit">Add Task</button>
    </form>
</div>

{% endblock body %}