{% extends 'base.html' %}

{% block title %}
Tasks
{% endblock title %}

{% block search %}

<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search in Title" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

{% endblock search %}


{% block body %}
<div class="container">

    <div class="d-flex justify-content-between align-items-center mt-5 mb-5 container flex-wrap">
        {% for task in all_tasks %}
        <div class="card" style="width: 18rem;">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{task.title_main}}</h5>
                <p class="card-text">{{task.sub_title}}</p>
                <a href="/taskpost/{{task.task_slug}}" class="btn btn-primary">Go to Task</a>
                <a href="/delete/{{task.task_slug}}" class="btn btn-primary">Delete Task</a>
                <br><br>
                <button class="completed">Completed</button>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock body %}